beautifulsoup4==4.12.3
celery==5.4.0
cohere==5.9.4
Flask==2.2.5
Flask_Caching==2.1.0
Flask_Cors==4.0.1
Flask_Limiter==3.8.0
flask_sqlalchemy==3.1.1
pandas==2.2.3
phonenumbers==8.13.45
python-dotenv==1.0.1
python_whois==0.9.4
redis==5.0.8
Requests==2.32.3
rq==1.16.2
scikit_learn==1.5.2
spacy==3.7.6
SQLAlchemy==2.0.29
tqdm==4.66.5
wikipedia==1.4.0
psycopg2-binary
gunicorn
lxml